#--Main----#
git+https://github.com/Godstime315/Pyrogram
tgcrypto==1.2.5
requests
bs4==0.0.1
aiohttp==3.8.3

#---database---#
pymongo==4.4.1
motor==3.0.0
marshmallow==3.20.1
umongo==3.1.0

#---imdb---#
cinemagoer==2023.5.1

#---others----#
datetime
pytz
